* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 800;
    font-style: normal;
    scroll-behavior: smooth;
    scroll-margin-top: 5em;
}

header{ 
    top: 0%;
    position: fixed;
    z-index: 1;
}
nav{
    display: flex;
	justify-content: space-between;
    background-color:rgba(0, 0, 0,0.5);
    width: 100vw;
}
a,h1,h2,label{
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
    margin: 2%;
    font-size: 1.7rem;
    letter-spacing: 2px;
}
p{
    letter-spacing: 1px;
    font-size: 1rem;
    overflow-wrap: break-word;
}
.itemsnav{
    width: 50%;
}
ul{
    margin-top: 35px;
    list-style-type: none;
}
li{
    width: 400px;
}
strong{
    color: #ed563b;
}
.presentacion{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
button,.submit{
    color: aliceblue;
    background-color: #ed563b;
    padding: 20px;
    text-transform: uppercase;
    border: none;
    margin-bottom: 15px;
    letter-spacing: 1px;
    font-size: 1rem;
    cursor: pointer;
}
.titulo{
    font-size: 3.5em;
    margin: 50px;
}
.subtitulo{
    font-size: 2em;
    margin: 50px;
}
.fondo{
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover;
}
.planes{
    width: 100px;
}
main, footer{
    background-color: rgb(255, 255, 255);
}

section{
    margin: 3%;
    text-align: center;
}
.entrenamientos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
.sobrenosotros{
    background-color: rgb(49, 57, 68);
    color: rgb(247, 243, 243);
    margin: 0;
    width: 100vw;
}
.divisores{
    color: black;
    text-align: center;
    margin-top: 0;
}
.divisor{
    margin-top: 5px;
    min-width: 100%;
    min-height: 25vh;
    max-width: 100%;
    max-height: 25vh;
    object-fit: cover;
}
.segundaimagen{
    background-image: url("https://themewagon.github.io/training-studio/assets/images/cta-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
footer{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
input,textarea{
    border: 1px solid gray ;
    border-radius: 5px;
}
  
textarea{
    width: 75%;
    height: 200px;
    margin: 20px;
}
#contacto{
    width: 100%;
    background-image: url("https://themewagon.github.io/training-studio/assets/images/contact-bg.jpg") ;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}
.textoformulario{
    width: 300px;
    height: 30px;
}
@media (max-width: 600px) {
    .entrenamientos{
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }
}